@using shopapp.webui.Models
@using shopapp.webui.WievModels

@model ProductWievModels

@section MessageBox
{
	<div class="alert alert-warning text-center m-0">Mesajınız Var</div>
}
@section Header
{
	@await Html.PartialAsync("_header")
}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


	@if (@Model.Products.Count == 0)
	{
		<div class="row">
			<div class="col-md-12">

				<div class="alert alert-danger">Stokta yok</div>
			</div>

		</div>

	}

	else
	{


		<div class="row">
			@foreach (var p in Model.Products)
			{

				@if (p.IsApproved == true)
				{
					<div class="col md-3">
						@await Html.PartialAsync("_product",p)

					</div>

				}
				else
				{

					<p style="background-color:red">Satışta Değil </p>

				}

			}
		</div>











	}
	

</body>
</html>
