<header>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Arda App</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod illum minus, at nobis eveniet quam unde atque magnam.</p>
			</div>
		</div>

	</header>